/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 27, 2015, 10:24:38 AM
    Author     : jinhua
*/
html, body{
    height: 100%;
    background-color: #f7f7f8;
    color: #767e8a;
}

.mdl-card__title-text{
    font-size: 36px;
}

a{
    color: #24c58f;
    font-size: 16px;
}

/*HEADER*/
.mdl-layout__header-row{
    padding: 0 0 0 0;
}
#garconlogo{
    width: 15%;
    margin-left: 15px;

}

.header{
    background-color: #FFFFFF;
}


.login_button{
    background-color: #fff;
    border-left:#EBEBEB solid 1px;
}

.login_button a{
    color: #767e8a;
    display: block; 
    /*border-left: solid 2px;*/
    padding: 20px;
    text-decoration: none;
    font-family: Lato;
}

.icon{
}

.icon-login-1{
    fill: #FF6699
}

#login_txt{
    padding-left: 5px;
}

/*BACKGROUND*/

#deployment_txt{
    width: 200px;
    color: white;
    font-size: 26px;
    z-index: 2;
    position: absolute;
    margin-top: 580px;
    margin-left: 30px;
    font-family: Proxima Nova;
    letter-spacing: 3px;
    line-height: 30px;
}

/*#bot{
    width: 100%;
    overflow: hidden;
    background-color: #f7f7f8;
    margin: 0px;
    position: absolute;
}*/

#top { 
    width: 0; 
    height: 0; 
    border-top: 800px solid #24c58f; 
    border-right: 1300px solid transparent;
    z-index: 1;
    
}

/*LOGIN*/

.demo-card-square.mdl-card {
    width: 470px;

}
.demo-card-square{
    color: #24c58f;
}

 .mdl-card__title {
     
 }
 
 #head{
     font-size: 36px;
     margin: 20px 0 30px 0;
     color: #24c58f;
     font-family: Proxima Nova;
     font-weight: bold;
 }
 
 .mdl-textfield{
     
 }
 
 .mdl-textfield__label{
     font-size: 16px;
     color: #999;
     width: 410px;
     font-family: Lato;
 }
 
 .mdl-textfield__input{
     width: 410px;
 }
 
 .mdl-checkbox__label{
     font-size: 16px;
 }
 
 .form_icon{
     margin-left: 300px;
 }
 
 .login_block{
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }
 
 .forget_pwd{
     padding: 35px 0 10px 0;
     
 }
 
 .mdl-button{
     background-color: #24c58f;
     color: #fff;
     margin-left: 135px;
     width: 100px;
     font-family: Lato;
     font-size: 18px;
 }
 
 .mdl-card__actions.mdl-card--border{
     position: relative;
     margin-top: 15px;
     z-index: 1;
     padding-top: 30px;
     margin-left: auto;
     margin-right: auto;
     width: auto;
 }

 .circle{
    width:30px;
    height:30px;
    border-radius:250px;
    border: solid #EBEBEB 1px;
    font-size:12px;
    color:#999;
    line-height:30px;
    text-align:center;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    left: 50%;
    right: 50%;
}

.ext_login_button{
    background-color: #fff ;
    font-size: 14px;
    font-family: Roboto Medium;
    margin: 0 10px 20px 10px;
    width: 200px;
}

.icon-ext{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.text_button{
    margin: 10px;
}

.github{
    color: #3d76c3;
    fill: #3d76c3;
    
}

.google{
    color: #dc4e41;
    fill: #dc4e41;
}


