/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 27, 2015, 10:24:38 AM
    Author     : jinhua
*/
html, body{
    height: 100%;
    background-color: #f7f7f8;
    color: #999;
}

.mdl-card__title-text{
    font-size: 36px;
}

a{
    color: #24c58f;
    font-size: 16px;
}

/*HEADER*/
.mdl-layout__header-row{
    padding: 0 0 0 0;
}

.garconlogo{
    background: url('../img/logo.png') no-repeat;
    background-size: 135px;
    width: 135px;
    height: 135px;
    position: absolute;
    margin: 0 0 0 20px;
}

.header{
    background-color: #FFFFFF;
    height: 90px;
    position: relative;
}

.mdl-layout__header-row{
    height: 90px;
}

.login_button{
    background-color: #fff;
    border-left:#EBEBEB solid 1px;
}

.login_button a{
    color: #767e8a;
    display: table-cell;
    vertical-align: middle;
    /*border-left: solid 2px;*/
    text-decoration: none;
    font-family: Lato;
    height: 90px;
    
}

#icon_login{
    padding: 0 35px 0 35px;
    fill: #C6C9C9;
    
}

#login_txt{
    padding-right: 35px;
}

/*BACKGROUND*/

.mdl-layout__content{
    width: 100%;
    height: 100%;
}

#deployment_txt{
    width: 250px;
    color: white;
    font-size: 32px;
    z-index: 2;
    position: absolute;
    margin-top: 750px;
    margin-left: 30px;
    font-family: Proxima Nova;
    font-weight: semi-bold;
    letter-spacing: 3px;
    line-height: 30px;
}

#bot{
    width: 100%;
    overflow: hidden;
    background-color: #f7f7f8;
    margin: 0px;
    position: absolute;
}

#top { 
    width: 0; 
    height: 0; 
    border-top: 1000px solid #24c58f; 
    border-right: 2000px solid transparent;
    z-index: 1;
    
}


/*LOGIN*/
 .login_block{
     position: absolute;
     left: 50%;
     transform: translate(-50%, 0%);
     padding-top: 50px;
     width: 560px;
 }
 
.demo-card-square.mdl-card {
    width: 560px;
         box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}


 .mdl-card__supporting-text{

 }

 .mdl-cardd{
     padding:40px;
 }

 .mdl-card__title {
     
 }
 
 #head{
     font-size: 36px;
     margin-bottom: 30px;
     color: #24c58f;
     font-family: Proxima Nova;
     font-weight: semi-bold;
 }
 
 .mdl-textfield{
     width: 100%;
 }
 
 .mdl-textfield__label{
     font-size: 16px;
     color: #999;
     font-family: Lato;
     width: 100%;
     white-space: normal;
 }
 
 .mdl-textfield__input{
     padding-bottom: 5px;
 }
 
 .form_icon{
     float: right;
     fill: #C6C9C9;
 }
 
 .mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
    background: #24c58f url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgdmVyc2lvbj0iMS4xIgogICB2aWV3Qm94PSIwIDAgMSAxIgogICBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWluWU1pbiBtZWV0Ij4KICA8cGF0aAogICAgIGQ9Ik0gMC4wNDAzODA1OSwwLjYyNjc3NjcgMC4xNDY0NDY2MSwwLjUyMDcxMDY4IDAuNDI5Mjg5MzIsMC44MDM1NTMzOSAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IE0gMC4yMTcxNTcyOSwwLjgwMzU1MzM5IDAuODUzNTUzMzksMC4xNjcxNTcyOSAwLjk1OTYxOTQxLDAuMjczMjIzMyAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IgogICAgIGlkPSJyZWN0Mzc4MCIKICAgICBzdHlsZT0iZmlsbDojZmZmZmZmO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTpub25lIiAvPgo8L3N2Zz4K") repeat scroll 0% 0%;
}

 
 
 .mdl-checkbox__label{
    font-size: 16px;
    color: #999;
    font-family: Lato;
 }
 
 .forget_pwd{
    padding: 50px 0 30px 0;
    font-family: Lato;
 }
 
 .forget_pwd span{
     transform: translateY(-25%);
 }
 
 .mdl-button {
     background-color: #24c58f;
     color: #fff;
     width: 130px;
     height: 50px;
     font-family: Lato;
     font-size: 18px;
     border-radius: 4px;
     box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
 }
 
 .mdl-button:hover{
     background-color: #0BAC76;
 }
 
 
 .login{
     float: right;
     transform: translateY(-25%);
 }
 
 
 hr{
    width: 200%;
    position: relative;
    margin-left: -50%;
    background-color: #fff;
     
 }

 .circle{
    width:30px;
    height:30px;
    border-radius:250px;
    border: solid #EFECEC 1px;
    font-family: Lato;
    font-size:12px;
    color:#ccc;
    line-height:30px;
    text-align:center;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.extern_login{
    padding-top: 20px;
 }
 
.ext_login_button{
    background-color: #fff ;
    font-size: 16px;
    font-family: Lato;
    font-weight: bold;
    padding: 10px 50px 10px 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    border:none;
    border-radius: 3px;
}

.icon-ext{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.github{
    color: #3d76c3;
    fill: #3d76c3;
    float: left;
    
}
.google{
    color: #dc4e41;
    fill: #dc4e41;
    float: right;
}
