/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 27, 2015, 10:24:38 AM
    Author     : jinhua
*/


html, body {
    height: 100%;
    background-color: #f7f7f8;
    color: #999;
    font-family: Lato;
    
}

body input {
    font-family: Lato;
}

.mdl-card__title-text {
    font-size: 36px;
}

a {
    color: #24c58f;
    font-size: 16px;
}

ol {
    list-style-type: none;
}

li {
    display: inline-block;
}

ul{
    line-height: 0;
}

/*HEADER*/
.mdl-layout__header-row {
    padding: 0 0 0 0;
}

.garconlogo {
    max-width: 150px;
    margin: 0 0 0 20px;
    vertical-align: middle;
}

.garconlogo img {
    width: 100%;
}

.no_login_header {
    background-color: #FFFFFF;
}

.mdl-layout__header-row {
    height: 90px;
    position: relative;
}

/*NAVIGATION*/
.navigation a {
    color: #767e8a;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    font-family: Lato;
    font-size: 16px;
    text-transform: uppercase;
    height: 90px;
    padding-right: 30px;
}

.navigation {
    color: red;
}

.menu {
    padding: 0px 30px 0px;
}

.menu a {
   padding: 0 10px 0 10px;
   border-bottom: 6px solid #fff;
}

.menu a:hover {
   color: #24c58f;
   border-bottom: 6px solid #E5E5E5;
}

.mdl-menu__outline {
    border-radius: 0;
}

.mdl-menu__item a:hover{
        color: #24c58f;
}

.tabmenu_item a {
    height: 0px;
}

.tabmenu_item a:hover {
    color: #24c58f;
}

.login_button {
    background-color: #fff;
    border-left:#EBEBEB solid 1px;
}

.login_button a:hover {
    color: #24c58f;
}


#icon_login {
    padding: 0 10px 0 35px;
    fill: #C6C9C9;
    height: 30%;
}

.login_txt {
    padding-right: 35px;
}

#arrow_dropdown {
    fill: #C6C9C9;
}

.profilepic {

}

/*BACKGROUND*/

.mdl-layout__content {
    width: 100%;
    height: 100%;
}

#bot {
    width: 100%;
    overflow: hidden;
    background-color: #f7f7f8;
    margin: 0px;
    position: absolute;
}

.deployment_txt {
    width: 250px;
    color: white;
    font-size: 32px;
    z-index: 2;
    position: absolute;
    margin-top: 750px;
    margin-left: 30px;
    font-family: Ubuntu;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 30px;
    text-transform: uppercase;
}

.top { 
    width: 0; 
    height: 0; 
    border-top: 1000px solid #24c58f; 
    border-right: 2000px solid transparent;
    z-index: 1;
}


/*LOGIN*/
 .white_block {
     position: absolute;
     left: 50%;
     transform: translate(-50%, 0%);
     padding-top: 50px;
     max-width: 560px;
     width: 100%;
 }
 
 @media (min-width: 320px) {
     
     .white_block {
         padding-top: 150px;
     }
}

.demo-card-square.mdl-card {
    width: 100%;
    max-width: 560px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

 .mdl-card__supporting-text {
     
 }

 .mdl-cardbox {
     padding:40px;
 }

 .mdl-card__title {
     
 }
 
 .head {
     font-size: 36px;
     margin-bottom: 30px;
     color: #24c58f;
     font-family: Ubuntu;
     font-weight: bold;
 }
 
 .mdl-textfield {
     width: 100%;
 }
 
 .mdl-textfield__label {
     font-size: 16px;
     color: #999;
     font-family: Lato;
     width: 100%;
     white-space: normal;
 }
 
 .mdl-textfield__input {
     padding-bottom: 5px;
     
 }
 
 .form_icon {
     float: right;
     fill: #C6C9C9;
 }
 
 .mdl-checkbox__input {

 }
 
 .mdl-checkbox.is-checked .mdl-checkbox__box-outline {
     border: none;
 }
 
 .mdl-checkbox__box-outline {
     border: 2px solid #C6C9C9;
 }
 
 .mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
    background: #24c58f url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgdmVyc2lvbj0iMS4xIgogICB2aWV3Qm94PSIwIDAgMSAxIgogICBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWluWU1pbiBtZWV0Ij4KICA8cGF0aAogICAgIGQ9Ik0gMC4wNDAzODA1OSwwLjYyNjc3NjcgMC4xNDY0NDY2MSwwLjUyMDcxMDY4IDAuNDI5Mjg5MzIsMC44MDM1NTMzOSAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IE0gMC4yMTcxNTcyOSwwLjgwMzU1MzM5IDAuODUzNTUzMzksMC4xNjcxNTcyOSAwLjk1OTYxOTQxLDAuMjczMjIzMyAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IgogICAgIGlkPSJyZWN0Mzc4MCIKICAgICBzdHlsZT0iZmlsbDojZmZmZmZmO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTpub25lIiAvPgo8L3N2Zz4K") repeat scroll 0% 0%;
}

 .mdl-checkbox__label {
    font-size: 16px;
    color: #999;
    font-family: Lato;
    line-height: 0;
 }
 
 .forget_pwd {
    padding: 50px 0 30px 0;
    font-family: Lato;
 }
 
 .forget_pwd a:hover {
    color: #0BAC76;
 }
 
 .forget_pwd span {
     transform: translateY(-25%);
 }
 
 .mdl-button {
     background-color: #24c58f;
     color: #fff;
     height: 50px;
     font-family: Lato;
     font-size: 18px;
     border-radius: 4px;
     box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
 }
 
 .mdl-button:hover {
    background-color: #0BAC76;
 }
 
 .login {
     float: right;
     transform: translateY(-25%);
     width: 130px;
 }
 
 .errormsg-box {
     color: #24c58f;
 }
 
 hr {
    width: 200%;
    position: relative;
    margin-left: -50%;
    background-color: #fff;
    border-color: #EFECEC
 }

 .circle {
    width:30px;
    height:30px;
    border-radius:250px;
    border: solid #EFECEC 1px;
    font-family: Lato;
    font-size:12px;
    color:#ccc;
    line-height:30px;
    text-align:center;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.extern_login {
    padding-top: 20px;
 }
 
.ext_login_button {
    background-color: #fff ;
    font-size: 16px;
    font-family: Lato;
    font-weight: bold;
    padding: 10px 30px 10px 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    border:none;
    border-radius: 3px;
    width: 100%;
    max-width: 220px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1) 0s, background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.ext_login_button:hover {
    background-color: #E6E6E6;
}

.icon-ext {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.github {
    color: #3d76c3;
    fill: #3d76c3;
    
}
.google {
    color: #dc4e41;
    fill: #dc4e41;
    float: right;
}

.externLoginBox{
    padding-top: 30px;
}

/*GREEN BLOCK*/
.block_text {
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 20%;
}

.block {
    width: 100%;
    position: relative;
}

.green {
    height: 200px;
    background-color: #24c58f;
}

.white {
    height: 50px;
    background-color: #fff;
}

/*BREADCRUMBS MENU*/
.breadcrumbs {
    position: absolute;
    left: 20%;
    padding-top: 15px;


}

.breadcrumbs a {
    text-decoration: none;
    color: #767e8a;
    
}

/*USERS*/
input::-moz-placeholder {
  color: #767e8a;
  font-size: 16px;
}

.box{
    width: 60%;
    padding-top: 2%;
    left: 20%;
    position: relative;
}

.add_user {
    border-radius: 50%;
    height: 56px;
    float: right;
    margin-right: -150px;
    width: 56px;
    min-width: 56px;
    box-shadow: 0px 1px 1.5px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.24);
}

.filterbox {
    width: 100%;
}

.filter {
    border: 1px gainsboro solid;
    border-radius: 5px;
    height: 48px;
}

.search {
    float: left;
}

.searchbox {
/*    border: 1px red solid;*/
    transform: translateY(50%);
    margin-left: 20px;
}

.sort {
    float: right;
}

.add_icon {
    fill: #fff;
    vertical-align: middle;
}

.search_icon {
}

.dropdown_icon{
    padding-top: 7px;
}

.dropup_icon{
    position: absolute;
}

.filtericons {
    fill: #767e8a;
}

.searchform {
    background-color: transparent;
    color: #767e8a;
    width: 80%;
    border: none;
    margin-left: 10px;
}

.sortbox {
    border-radius: 5px;
    font-size: 16px;
    border: 1px gainsboro solid;
    
}

.sortbox_text {
/*    border: 1px blue solid;*/
    transform: translateY(60%);
    font-size: 16px;
    margin-left: 20px;
    
}

.sort_arrows {
    float: right;
    transform: translateY(-15%);
    padding-left: 30px;
}

.list {
    padding-top: 70px;
}

.users {
    position: relative;
}

.mdl-data-table {
    font-size: 15px;
    width: 100%;
    position: relative;
}
.mdl-data-table td {
    text-align: left;
    color: #767e8A;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.mdl-data-table th {
    text-align: left;
    color: #999;
    
}

#usericons {
    height: 30px;
}

.edit_icon {
    fill: #999;
}

.edit-options {
    background-color: #fff;
    height:50px;
    width: 50px;
    border-radius:50px;
    border: solid #fff;
}

.edit-btn {
    
}

/*Dashboard*/
.tablebox{
    border: 1px solid red;
}

.changes {
    float: left;
}

.problems {
    float: right;
}

.table-title {
    color: #767e8a;
    font-weight: bold;
    font-size: 25px;
    border: solid 1px blue;
    margin-bottom: 20px;
}
